.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    
}

img {
    height: 500px;
    
}

button{
  border: 1px black;
}

.speaker {
    width:700px;
}

a  {
    color: #000;
    background-color: white;
    padding: 12px 0px;
    display: block;
    width: 120px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid black 1px;
}