.container{
    display:table;
}

.red{
background-color: red;
width:700px;
height: 20px;
display: inline-block;
}

.white{
    background-color: white;
    height: 20px;
    width: 700px;
    display: inline-block;
}


#stars{
    height:165px;
    width:280px;
    position: absolute;
}